body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to right, lightblue, #ff6666); /* Švelnus raudonas gradientas iš kairės į dešinę */
    min-height: 100vh; /* Užtikrina, kad gradientas apims visą aukštį */
    margin: 0; /* Pašalina numatytąją kūno paraštę */
}

header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

h1 {
    color: #007bff;
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
    color: #555;
    margin-top: 0;
}

.container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.column {
    /* background-color: white; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left-column {
    flex: 1; /* Vienodas plotis */
}

.right-column {
    flex: 1; /* Vienodas plotis */
}

/* Formos ir įvesties laukai */
form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input[type="text"], 
form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Mygtukų grupės */
.button-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button-group button, .search-panel button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

/* Specifiniai mygtukai */
#insert-new-btn { background-color: grey; color: white; }

#edit-item-btn { background-color: grey; color: white; }

#delete-item-btn { background-color: grey; color: white; }

#search-form button { background-color: grey; color: white; }

#select-from-ls-btn { background-color: grey; color: white; }

/* Lentelės stiliai */
.inventory-display, .cart-display {
    /* background-color: white; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    /* background-color: #f8f9fa; */
    color: #333;
}

/* Priverčia lentelės eilutę atrodyti kaip interaktyvią */
#inventory-list tr {
    cursor: pointer;
}
#inventory-list tr:hover {
    background-color: #e9ecef;
}

/* Pranešimai */
#message-area {
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: bold;
    display: none;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
}